.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test-object {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border: 3px solid black;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.title {
  width: 100%;
  text-align: center;
}

.action-log {
  border: 1px solid black;
  width: 100%;
  min-height: 50px;
}